<h2>list client here:</h2>
<br>
<form method="post" action="/clients">
  <div class="form-group">
    <label for="client" class="client">
    <input name="client" type="text" class="form-control" id="client">
  </div>
  <br>
  <button class="btn btn-default" type="submit">add!</button>
</form>
