<h4>changed info for $stylist.getName():</h4>

<p>$stylist.getHours()</p>
<p>$stylist.getContact_info()</p>
<p>$stylist.getRating()</p>

<form action="/clients">
  <button class="btn btn-default" type="submit">view all clients</button>
</form>
